.wallet-container{
    background-color: #ffff;
    width: 320px;
    color: black;
    padding: 20px 20px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 5px;
    box-shadow: 2px;
}